<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />

{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"/>
</head>
<body>
<main class="major">
<nav class="container"> 
 <div class='block'> <a href='/index' class="menu_links"> Главная </a></div>
 <div class='block'><a href='/about' class="menu_links"> О нас </a></div>
 <div class='block'><a href='/posts' class="menu_links"> Посты </a></div>
 <div class='block'> <a href='/comments' class="menu_links"> Комментарии </a></div>
 
  {% if user.is_authenticated %}
      <div class='block'><span class="menu_links" style="margin-left: 80px;">{{user}}</span></div>
      <div class='block'><a href="/logout" class="menu_links">Выйти</a></div>
  {% else %}
      <div class='block'><a href='/login' class="menu_links"> Вход </a></div>
  {% endif %}

</nav> 
<div class="header">MY SITE</div>
<div class="header_h2">Мини-социальная сеть</div>
<div class="container_h2">
  
    <img src="{% static 'background.jpg' %}" class="block_h2"/>
  
</div>
</main>
</body>
</html>