<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />

{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"/>

</head>
<body>
<main class="major">
<nav class="container"> 
 <div class='block'> <a href='/index' class="menu_links"> Главная </a></div>
 <div class='block'><a href='/about' class="menu_links"> О нас </a></div>
 <div class='block'><a href='/posts' class="menu_links"> Посты </a></div>
 
{% if user.is_authenticated %}
 <div class='block'><span class="menu_links">{{user}}</span></div>
 <div class='block'><a href="/logout" class="menu_links">Выйти</a></div>
{% else %}
 <div class='block'><a href='/login' class="menu_links"> Вход </a></div>
{% endif %}

</nav> 
<div class="container_about">
    {% for post in posts %}
    <div class="container_post">
     <a href="post/{{post.id}}" class="text_post"><h3>{{post.title}}</h3></a>
     <img class="text_post" src="/static/images/{{post.image}}" alt=""/>
     <p class="text_post">{{post.text}}</p>
    </div>
{% endfor %} 
  <form action='newpost' method="POST" enctype="multipart/form-data" style="margin: 20px">
     {% csrf_token %}

     <input type='text' placeholder='Header' name='title'/>
     <input type='text' placeholder='Text of post' name='text'/>
     <input type='file' name='file'/>
     <input type='submit' value='Create'/>
  </form>
  <div class="button" >
    <div class="c-button" type="button">
        <a href="/export" class="button_links">Выгрузить посты</a>
    </div>
    <div class="c-button" type="button" style="margin: 20px">
       <a href="/download" class="button_links">Скачать посты</a>
    </div>
  </div>
</main>
</body>
</html>